#login{
    width: 100px ; /*aumenta a largura */ 
    height: 40px;  /*aumentar a altura */
    background-color: rgb(206, 46, 46);
    color:aliceblue;
    border-radius: 20px; /* tornar as bordas redondas */
    border: none;
}
 

.ab{
    background-color: blue;

}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner{
    height: 400px;
    width: 400px;
}       

.texto-banner{
    font-size: 50px;
    font-weight: bolder;

}

.caixa-texto{
    width: 500px;
    background-color: rgb(175, 188, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa-estrutura{
    display: flex;
    flex-direction: row;
}
.titulo{
    display: flex;
    align-items: center;
}